In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Loading raw data
path = "../fullspecs.csv"
Full_specs_raw= pd.read_csv(path) 

#Reset index to recognize 1st row as index 
df1 = Full_specs_raw.set_index("Unnamed: 0")

#Locate "rows" that we want to keep as column headers once transposed
rows_to_keep = ["MSRP", "Gas Mileage", "Body Style", "Base Curb Weight (lbs)", "Parking Aid", "Back-Up Camera", "Stability Control"]

#Filter df to only rows we are analyzing
df2= df1.loc[rows_to_keep, :]

#Transpose rows to columns 
transposed_df= df2.transpose()

#Resetting index to convert Model names into column 
transposed_df.reset_index(inplace=True)

# list(df3.columns) 
transposed_df.head()

Unnamed: 0,index,MSRP,Gas Mileage,Body Style,Base Curb Weight (lbs),Parking Aid,Back-Up Camera,Stability Control
0,2019 Acura RDX Specs: FWD w/Technology Pkg,"$40,600",22 mpg City/28 mpg Hwy,Sport Utility,3790,Yes,Yes,Yes
1,2019 Acura RDX Specs: FWD w/Advance Pkg,"$45,500",22 mpg City/28 mpg Hwy,Sport Utility,3829,Yes,Yes,Yes
2,2019 Acura RDX Specs: FWD w/A-Spec Pkg,"$43,600",22 mpg City/27 mpg Hwy,Sport Utility,3821,Yes,Yes,Yes
3,2019 Acura RDX Specs: FWD,"$37,400",22 mpg City/28 mpg Hwy,Sport Utility,3783,No,Yes,Yes
4,2019 Acura RDX Specs: AWD w/Technology Pkg,"$42,600",21 mpg City/27 mpg Hwy,Sport Utility,4026,Yes,Yes,Yes

In [2]:
#Split year from model name into new column
Year_split_df= transposed_df["index"].str.split(" ", n = 1, expand = True) 
  
#Making separate Year column from split data frame 
transposed_df["Year"]= Year_split_df[0] 
  
transposed_df.head()

Unnamed: 0,index,MSRP,Gas Mileage,Body Style,Base Curb Weight (lbs),Parking Aid,Back-Up Camera,Stability Control,Year
0,2019 Acura RDX Specs: FWD w/Technology Pkg,"$40,600",22 mpg City/28 mpg Hwy,Sport Utility,3790,Yes,Yes,Yes,2019
1,2019 Acura RDX Specs: FWD w/Advance Pkg,"$45,500",22 mpg City/28 mpg Hwy,Sport Utility,3829,Yes,Yes,Yes,2019
2,2019 Acura RDX Specs: FWD w/A-Spec Pkg,"$43,600",22 mpg City/27 mpg Hwy,Sport Utility,3821,Yes,Yes,Yes,2019
3,2019 Acura RDX Specs: FWD,"$37,400",22 mpg City/28 mpg Hwy,Sport Utility,3783,No,Yes,Yes,2019
4,2019 Acura RDX Specs: AWD w/Technology Pkg,"$42,600",21 mpg City/27 mpg Hwy,Sport Utility,4026,Yes,Yes,Yes,2019

In [3]:
#Split Gas mileage to only Highway MPG
MPG_split_df= transposed_df["Gas Mileage"].str.split("/", n = 1, expand = True) 

#Split Highway MPG to numeric info  
Hwy_split_df= MPG_split_df[1].str.split(" ", n = 1, expand = True) 

#Making separate Year column from split data frame 
transposed_df["Highway MPG"]= Hwy_split_df[0] 
  
transposed_df.head()

Unnamed: 0,index,MSRP,Gas Mileage,Body Style,Base Curb Weight (lbs),Parking Aid,Back-Up Camera,Stability Control,Year,Highway MPG
0,2019 Acura RDX Specs: FWD w/Technology Pkg,"$40,600",22 mpg City/28 mpg Hwy,Sport Utility,3790,Yes,Yes,Yes,2019,28
1,2019 Acura RDX Specs: FWD w/Advance Pkg,"$45,500",22 mpg City/28 mpg Hwy,Sport Utility,3829,Yes,Yes,Yes,2019,28
2,2019 Acura RDX Specs: FWD w/A-Spec Pkg,"$43,600",22 mpg City/27 mpg Hwy,Sport Utility,3821,Yes,Yes,Yes,2019,27
3,2019 Acura RDX Specs: FWD,"$37,400",22 mpg City/28 mpg Hwy,Sport Utility,3783,No,Yes,Yes,2019,28
4,2019 Acura RDX Specs: AWD w/Technology Pkg,"$42,600",21 mpg City/27 mpg Hwy,Sport Utility,4026,Yes,Yes,Yes,2019,27

In [4]:
#Group body styles (Pickup, Sedan, sport, etc)

#Renaming Car body types by cars
transposed_df["Body Style"] = transposed_df["Body Style"].replace(["Sport Utility", "4dr Car", "2dr Car", "Convertible", "Station Wagon", "3dr Car", "Hatchback"], "Car")

#Renaming Car body types by trucks
transposed_df["Body Style"] = transposed_df["Body Style"].replace(["Crew Cab Pickup - Short Bed", "Crew Cab Pickup - Standard Bed", "Extended Cab Pickup - Short Bed", "Extended Cab Pickup - Long Bed", "Extended Cab Pickup - Standard Bed", "Regular Cab Pickup - Long Bed", "Crew Cab Pickup - Long Bed", "Regular Cab Pickup - Short Bed", "Regular Cab Chassis-Cab", "Extended Cab Pickup", "Crew Cab Pickup", "Regular Cab Pickup - Standard Bed"], "Truck")

#Renaming Car body types by vans
transposed_df["Body Style"] = transposed_df["Body Style"].replace(["Mini-van, Passenger", "Full-size Passenger Van", "Full-size Cargo Van", "Mini-van, Cargo"], "Van")

#Drop Specialty Vehicles 
Body_style_df = transposed_df[transposed_df["Body Style"] != 'Specialty Vehicle']


#Remove duplicates and nans?
Body_style_df["Body Style"].value_counts()

Body_style_df.head()

Unnamed: 0,index,MSRP,Gas Mileage,Body Style,Base Curb Weight (lbs),Parking Aid,Back-Up Camera,Stability Control,Year,Highway MPG
0,2019 Acura RDX Specs: FWD w/Technology Pkg,"$40,600",22 mpg City/28 mpg Hwy,Car,3790,Yes,Yes,Yes,2019,28
1,2019 Acura RDX Specs: FWD w/Advance Pkg,"$45,500",22 mpg City/28 mpg Hwy,Car,3829,Yes,Yes,Yes,2019,28
2,2019 Acura RDX Specs: FWD w/A-Spec Pkg,"$43,600",22 mpg City/27 mpg Hwy,Car,3821,Yes,Yes,Yes,2019,27
3,2019 Acura RDX Specs: FWD,"$37,400",22 mpg City/28 mpg Hwy,Car,3783,No,Yes,Yes,2019,28
4,2019 Acura RDX Specs: AWD w/Technology Pkg,"$42,600",21 mpg City/27 mpg Hwy,Car,4026,Yes,Yes,Yes,2019,27

In [61]:
#Drop NANs based on Body Style column
Body_style_df["Body Style"].replace('', np.nan, inplace=True)
Drop_NANs_df = Body_style_df.dropna(subset=["Body Style"]).reset_index(drop=True)


Drop_NANs_df.head(5)

Unnamed: 0,index,MSRP,Gas Mileage,Body Style,Base Curb Weight (lbs),Parking Aid,Back-Up Camera,Stability Control,Year,Highway MPG
0,2019 Acura RDX Specs: FWD w/Technology Pkg,40600.0,22 mpg City/28 mpg Hwy,Car,3790.0,Yes,Yes,Yes,2019,28
1,2019 Acura RDX Specs: FWD w/Advance Pkg,45500.0,22 mpg City/28 mpg Hwy,Car,3829.0,Yes,Yes,Yes,2019,28
2,2019 Acura RDX Specs: FWD w/A-Spec Pkg,43600.0,22 mpg City/27 mpg Hwy,Car,3821.0,Yes,Yes,Yes,2019,27
3,2019 Acura RDX Specs: FWD,37400.0,22 mpg City/28 mpg Hwy,Car,3783.0,No,Yes,Yes,2019,28
4,2019 Acura RDX Specs: AWD w/Technology Pkg,42600.0,21 mpg City/27 mpg Hwy,Car,4026.0,Yes,Yes,Yes,2019,27

In [66]:
#Change MSRP column to numeric 
Drop_NANs_df[Drop_NANs_df.columns[1]] = Drop_NANs_df[Drop_NANs_df.columns[1]].replace('[\$,]', '', regex=True).astype(float)


#Change Base Curb Weight to numeric- sifting out any values with string characters
Drop_NANs_df[Drop_NANs_df.columns[4]] = Drop_NANs_df[Drop_NANs_df.columns[4]].replace('[,]', '', regex=True)

Drop_NANs_df[Drop_NANs_df.columns[4]] = Drop_NANs_df[Drop_NANs_df.columns[4]].replace('[- TBD -]', '', regex=True)

Drop_NANs_df[Drop_NANs_df.columns[4]] = Drop_NANs_df[Drop_NANs_df.columns[4]].replace('[2701(est)]', '2701', regex=True).astype(float)


#Change Highway MPG to numeric- sifting out any values with string characters
Drop_NANs_df["Highway MPG"]= pd.to_numeric(Drop_NANs_df["Highway MPG"])



#Check to see if types have changed
Drop_NANs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30498 entries, 0 to 30497
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   30498 non-null  object
 1   MSRP                    30444 non-null  float64
 2   Gas Mileage             26292 non-null  object
 3   Body Style              30498 non-null  object
 4   Base Curb Weight (lbs)  19451 non-null  float64
 5   Parking Aid             30498 non-null  object
 6   Back-Up Camera          30498 non-null  object
 7   Stability Control       30498 non-null  object
 8   Year                    30498 non-null  object
 9   Highway MPG             26284 non-null  float64
dtypes: float64(3), object(7)
memory usage: 2.3+ MB

In [78]:
#Rename columns to be more understandable
Renamed_df= Drop_NANs_df.rename(columns = {'index':'Car Make and Model', 'MSRP':'Retail Price'})


#Tracking columns we want to keep in organized dataframe
Columns_to_keep= ["Year", "Car Make and Model", "Retail Price", "Highway MPG", "Body Style", "Base Curb Weight (lbs)", "Parking Aid", "Back-Up Camera", "Stability Control"]

Organized_df= Renamed_df[Columns_to_keep]


#Change name of index
# Organized_df.index.names = ['Index']
Organized_df.rename(index={"Unnamed: 0": 'Index'})

Organized_df.sample(10)

#Save to output file 
# df = pd.read_csv(file_csv, na_values=' ')

Unnamed: 0,Year,Car Make and Model,Retail Price,Highway MPG,Body Style,Base Curb Weight (lbs),Parking Aid,Back-Up Camera,Stability Control
7515,2005,"2005 Ford Ranger Specs: Reg Cab 118"" WB XL 4WD",19425.0,21.0,Truck,NaN,No,No,No
24819,2006,2006 Subaru Forester Specs: 4-Door 2.5 X Autom...,24945.0,28.0,Car,3150.0,No,No,No
3928,2014,2014 Chevrolet Silverado 1500 Specs: 2WD Crew ...,41120.0,23.0,Truck,NaN,No,Yes,Yes
12917,2002,"2002 GMC Sierra 2500HD Specs: Crew Cab 153"" WB...",34222.0,NaN,Truck,NaN,No,No,No
16061,2018,2018 INFINITI Q60 Specs: 2.0t LUXE RWD,42300.0,30.0,Car,3765.0,No,Yes,Yes
29985,2019,2019 Volvo XC40 Specs: T4 FWD Momentum,33700.0,33.0,Car,3574.0,No,Yes,Yes
10275,2013,2013 Ford Super Duty F-250 Specs: 2WD SuperCab...,36605.0,NaN,Truck,NaN,No,No,Yes
23488,1997,1997 Porsche 911 Specs: 2-Door Carrera Coupe 6...,63750.0,25.0,Car,3064.0,No,No,No
3559,2013,2013 Cadillac CTS-V Specs: 2-Door Coupe,63215.0,19.0,Car,4217.0,Yes,Yes,Yes
24060,2019,2019 Ram 2500 Specs: Tradesman 4x2 Reg Cab 8' Box,33395.0,NaN,Truck,NaN,No,Yes,Yes